/* Navbar */
nav {
  position: relative; /* Torna o navbar não fixo */
  margin: 0 auto; /* Centraliza o navbar horizontalmente */
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ajuste conforme necessário */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro e transparente */
  border-radius: 0px; /* Remova bordas arredondadas */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Sombra sutil */
}

/* Links dentro do navbar */
nav a {
  font-size: 1.2em;
  color: #ffffff;
  text-decoration: none;
  padding: 1em 2em;
  margin: 0 10px;
  transition: 0.3s ease all;
}

/* Efeito de hover nos links */
nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}