/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #ffffff;
  min-height: 90vh;
  padding-top: 5em;
  overflow: hidden;
}

.titulo {
  font-size: 3rem;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin-bottom: 2rem;
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

/* Estilo dos cards */
.card {
  width: 280px;
  height: 380px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-image: url('../../img/sala.jpg'); /* Imagem de fundo fixa para todos os cards */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  transform: scale(1.05);
}

/* Fundo escurecido para visibilidade do texto */
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Escurece o fundo */
  z-index: 0;
}

/* Conteúdo dentro do card */
.content {
  z-index: 1;
}

.title {
  font-size: 1.8rem;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  margin-bottom: 10px;
}

.copy {
  font-size: 1rem;
  color: #f0f0f0;
  margin-bottom: 15px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #45a049;
}
